body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/images/hero-page.avif);
  background-repeat: no-repeat;
  background-size: cover;
  } 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Our CSS Code */

* header navigation tabs */
.nav {
  justify-content: center;
  font-size: 100px;
  font-weight: bolder;
  text-decoration: underline;
}


