body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/images/hero-page.avif);
  background-repeat: no-repeat;
  background-size: cover;
  } 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Our CSS Code */

* header navigation tabs */
.nav {
  justify-content: center;
  font-size: 100px;
  font-weight: bolder;
  text-decoration: underline;
}

/* text styling */
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

p {
  font-size: 25px;
  color: #a038dd;
  font-weight: bold;
  font-family: "Indie Flower", cursive;
}

h1 {
  margin: auto 30px;
  padding: 10px;
  color: #0000ff;
  font-weight: bold;
  font-family: "Indie Flower", cursive;
}

.card {
  /* background-color: #ffff; */
  border-radius: 2px;
  height: 400px;
  margin: 5rem;
  position: center;
  width: 600px;
  box-shadow: 0 3px 6px rgb(213, 24, 24), 0 3px 6px #999;
  text-align: center;
}